@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.body {
    width: 100%;
    background: var(--bg);
    color: var(--text);
}

div {
    display: block;
}

a {
    color: var(--title);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: var(--title);
    text-decoration: none;
}

@media (min-width: 20rem) {
    .container {
        max-width: 600px;
        text-align: center;
    }
}

@media (min-width: 56rem) {
    .container {
        max-width: 1000px;
        text-align: left;
    }
}

.box-top-margin {
    margin-top: 1rem;
}

.card {
    border-radius: 0;
    background: var(--card-bg);
}

.card:hover {
    border-style: dashed;
    border-color: var(--card-border-color);
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.listing-box {
    margin-bottom: 1rem;
}

.media-body {
    -ms-flex: 1;
    flex: 1;
}

.post-meta {
    font-size: 90%;
    color: var(--text);
}


@media (min-width: 40rem) {
    .tags {
        float: right;
    }
}

.head {
    color: var(--blue);
    font-size: 28px;
}

.add-blog {
    float: right;
}

.preview {
    background: #f5f2f0;
    tab-size: 4;
}

.ql-editor {
    tab-size: 4;
}

.edit-button {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 90%;
    text-decoration: none;
}

.form-group {
    display: flex;
    justify-content: flex-start;
}

.footer {
    font-size: 16px;
    margin-bottom: 0;
    background-color: var(--bg);
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer a {
    color: #10549d;
}

.footer a:hover {
    color: #10549d;
    text-decoration: none;
    opacity: 0.8;
}


/* Themes */
:root {
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #868e96;
    --gray3: #adadad;
    --gray4: #666;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --blue: #10549d;
    --purple: #a82dd1;
    --yellow: #fff565;
    --white: #fafafa;
}

.light {
    --bg: var(--gray0);
    --text: var(--gray4);
    --card-border-color: var(--gray3);
    --title: var(--blue);
    --card-bg: var(--white);
}


.dark {
    --bg: var(--gray5);
    --text: var(--gray0);
    --card-border-color: var(--gray2);
    --title: var(--white);
    --card-bg: var(--gray4);
}
